<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--    可以在控制台输出日志信息：sql语句和参数 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

     <!--配置别名-->
    <typeAliases>
        <!--类型的别名就是类名-->
        <package name="com.team.house.housebackapi.entity"></package>
    </typeAliases>

    <!-- 分页插件 -->
    <!--   分页参数合理化，默认false禁用
         pageNum表示当前页  pages表示尾页
        true启用合理化时，如果pageNum<1会查询第一页，如果pageNum>pages会查询最后一页
           false禁用合理化时，如果pageNum<1或pageNum>pages会返回空数据  -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>



    <!--加载sql映射文件-->
    <mappers>
        <package name="com.team.house.housebackapi.mapper"/>
    </mappers>

</configuration>